// Abstracts

$white: #fefefe;
$color-primary: #541E76;
$color-secondary: #F7D744;
$page-color: $white;
$text-color: #111;
$text-mid: #929292;
$text-light: #cacaca;
$border: #f0f0f0;
$border-dark: #838383;
