// Globals

@use "~/assets/sass/_abstracts" as *;

*,
*:after,
*:before {
  box-sizing: border-box;

  // Universal transitions
  transition-property:
    background-color,
    border-color,
    box-shadow,
    color,
    opacity,
    text-shadow,
    transform;
  transition-duration: .2s;
  transition-timing-function: linear;
}

:root {
  font-size: 1rem;
  line-height: 1.5;
}

.page {
  padding: 0 1rem;

  @media screen and (min-width: 460px) {
    padding: 0 2rem;
  }
}

body {
  background: $page-color;
  box-sizing: border-box;
  color: $text-color;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  margin: 0;
}

// Helper classes

.button {
  background-color: $white;
  border: 1px solid $border;
  border-radius: .2rem;
  line-height: 1.5;
  cursor: pointer;
  white-space: nowrap;
  box-shadow: 0 1px 1px rgba(17,17,17,.06);

  font-size: .83rem;
  padding: .4rem .4rem .3rem .4rem;

  @media screen and (min-width: 460px) {
  }
}

.form-item__checkbox {
  padding-left: .9rem;
  position: relative;
  margin-bottom: .3rem;

  @media screen and (min-width: 460px) {
    padding-left: 1.5rem;
  }

  label {
    display: block;
    padding: .45rem .55rem .4rem 1.8rem;
    cursor: pointer;
  }

  input {
    border: 1px solid $border;
    border-radius: 2px;
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    left: .3rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    user-select: none;
    appearance: none;
    -webkit-appearance: none;
    display: grid;
    place-content: center;

    @media screen and (min-width: 460px) {
      height: 14px;
      width: 14px;
    }

    &::before {
      content: "";
      height: .35em;
      width: .35em;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      transform: scale(0);
      transform-origin: bottom left;
      transition: 120ms transform ease-in-out;
      /* Windows High Contrast Mode */
      background-color: rgb(237, 238, 253);

      @media screen and (min-width: 460px) {
        height: 0.55em;
        width: 0.55em;
      }
    }

    &:checked {
      background: rgb(78, 87, 188);

      &::before {
        transform: scale(1);
      }
    }
  }

  &.is-active {
    border-color: rgb(78, 87, 188);
    background: rgb(237, 238, 253);
  }
}

.button--unchecked {
  background: transparent;
  border: 1px solid transparent;
  color: $text-mid;
  box-shadow: none;
  appearance: none;

  &:hover {
    box-shadow: none;
    border: 1px solid #dbdbdb;
    color: $text-color;
  }
}

.button--active {
  border-color: rgb(78, 87, 188);
  background: rgb(237, 238, 253);
}
