@use 'normalize';
// @use 'abstracts';

// Globals
*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  line-height: 1.5;
}

.page {
  padding: 0 2rem
}

body {
  background: $page-color;
  box-sizing: border-box;
  color: $text-color;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  margin: 0;
}

// Header
.page-header {
  margin: 1rem 0;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
}

.nav-list__item {
  margin-left: auto;
  & + & {
    margin-left: 1rem;
  }
}

.nav-list__link {
  color: #111;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &.router-link-active {
    text-decoration: none;
    cursor: default;
  }
}


// Plant gallery
.toggle-names-button,
.random-button {
  background-color: rgba(#fefefe, .5);
  border: 1px solid rgba(#fefefe, .35);
  border-radius: 50%;
  cursor: pointer;
  font-size: 1rem;
  padding: .806rem 1rem;
  position: fixed;
  z-index: 3;

  &:hover {
    background-color: rgba(#fefefe, .85);
  }
}

.random-button {
  bottom: 1.5rem;
  right: 1rem;
}

.toggle-names-button {
  bottom: 1.5rem;
  right: 5rem;
}

.button-gallery {
  box-sizing: border-box;
  background: #fefefe;
  border: 1px solid #dee1ed;
  border-left: none;
  padding-left: .5rem;
  padding-right: .5rem;
  cursor: pointer;

  &:active,
  &:focus {
    background: #fefefe;
  }

  &:hover {
    background-color: black;
    // background: darken(#fefefe, 6%);
  }
}

.gallery-item__solution-toggle {
  background: rgba(#fefefe, .3);
  border: 1px solid rgba(#fefefe, .2);
  border-radius: 6px;
  font-size: 1rem;
  right: .2rem;
  line-height: 1;
  padding: .75rem;
  position: absolute;
  top: .2rem;
  z-index: 2;

  span {
    opacity: .5;
  }

  .is-revealed & {
    background: rgba(#fefefe, .5);
    border-color: rgba(#fefefe, .5);

    span {
      opacity: 1;
    }

    &:hover,
    &:focus,
    &:active {
      border-color: rgba(#fefefe, .5);
    }
  }

  &:hover {
    background: rgba(#fefefe, .5);
    border-color: rgba(#fefefe, .5);

    span {
      opacity: 1;
    }
  }

  &:focus,
  &:active {
    background: rgba(#fefefe, .3);
    border: 1px solid rgba(#fefefe, .2);
  }
}

.gallery {
  margin-bottom: .5rem;
  margin-top: .5rem;

  @media screen and (min-width: 460px) {
    display: grid;
    grid-auto-rows: 220px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;
  }

  @media screen and (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 240px;
  }

  @media screen and (min-width: 1400px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 380px;
  }

}

.gallery-item {
  background-color: #dee1ed;
  border-radius: 6px;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 459px) {
    margin-bottom: .5rem;
    height: 200px;
  }
}

.gallery-item__front {
  // border-radius: 6px;
  // overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.gallery-item__image-toggle {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 4;
  opacity: 0;

  &:hover {
    cursor: pointer;
  }
}

.gallery-item__image {
  pointer-events: none;
  user-select: none;
  object-fit: cover;
  height: 100%;
  width: 100%;

  display: none;
  &.is-active {
    display: block;
  }
}

.gallery-item__infos {
  display: block;
  background: #f5f6fb;
  padding: 1rem;
  // overflow: hidden;
  overflow: scroll;

  opacity: 0;
  visibility: hidden;
  position: absolute;
  min-height: 50%;
  left: .75rem;
  right: .75rem;
  top: .75rem;
  bottom: .75rem;
  border-radius: 4px;
  z-index: 1;
  transition: none;

  .is-revealed & {
    opacity: 1;
    visibility: visible;
  }

  &.is-invasive {
    box-shadow: inset 0 0 0 2px white, inset 0 0 0 4px rgba(200, 0, 0);

    .gallery-item__botanical {
      color: rgba(200, 0, 0);
    }
  }
}

.gallery-item__botanical {
  font-size: .85rem;
  line-height: 1;
  margin-bottom: .25em;
  margin-top: 0;
}

.gallery-item__familiar {
  color: #4f4f4f;
  font-size: .7rem;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: .9em;
  margin-top: 0;
}

.gallery-item__invasive {
  background-color: rgba(200, 0, 0);
  border-radius: .2rem;
  color: rgb(255 235 235);
  // font-size: .8rem;
  padding: .1em .3em;
  text-transform: uppercase;
  font-size: .6rem;
}

.gallery-item__metas {
  p {
    font-size: .7rem;
    margin: 0;
  }
}

.gallery-item__label {
  font-weight: bold;
}

.gallery-nav {
  margin: .5rem 0 0;
}

.gallery-nav__button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin-right: .5rem;

  &:hover {
    text-decoration: underline;
  }
}

.plants-list {
  margin-bottom: 2rem;

  li {
    margin-bottom: .5rem;
  }
}
